@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    width:80%;
    margin: auto;
   
}
body{
    background-color: rgb(233, 232, 230);
}


.header-section{
    height:80px;
    background-color:rgba(33,37,41,255) ;
 

}

.header-section .header-flex{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.header-section .logo-section img{
    width:45%;
}

.header-section .navbar-section .navbar-list{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.header-section .navbar-section li{
    list-style-type: none;
    margin-left:20px;

}
.header-section .navbar-section li a{
    text-decoration-line: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family:Roboto,sans-serif;
    letter-spacing:1.5px;
}
.portfolio-section h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
    font-family: Roboto,sans-serif;
    letter-spacing:1.5px;
    color:rgba(33,37,41,255);


}

.portfolio-section p{
    font-style: italic;
    color: rgb(138, 139, 142);
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 30px;

}
.portfolio-section .portfolio-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 25px;
}

.portfolio-section .portfolio-flex .portfolio-item{
    width:32%;
    background-color: rgb(255, 255, 255);
}

.portfolio-section .portfolio-flex .portfolio-item img{
    width:100%;
    display: block;
}

.portfolio-section .portfolio-flex .portfolio-item h3{
    text-transform: capitalize;
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
    font-family:Roboto,sans-serif;
    
}

.portfolio-section .portfolio-flex .portfolio-item p{
    text-transform: capitalize;
    text-align: center;
    margin-top: 7px;
    margin-bottom: 20px;
    font-style: italic;
    color: rgb(138, 139, 142);

}
